body {
  background: rgb(240, 202, 208);
}

.container {
  display: flex;
  justify-content: center;
}

button {
  padding: 13px;
  margin-bottom: 20px;
  background: rgb(59, 149, 78);
  border: none;
  color: white;
}